{% extends "user_base.html" %}
{% load static %}
{% block title %}
Contact Us
{% endblock %}



{% block styles %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
  
    <!--mobile view-->
    <link rel="stylesheet" href="{% static 'css/user/mobile_view.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/user/contact_us.css' %}">

 {% endblock %}

    

    <!-- nav-end       -->
    {% block content %}
    <!-- content-start -->
    {% if not user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container">
            <a class="navbar-brand" href="{% url 'user_app:landing_page' %}">
                <img src="{% static 'images/user/form-logo.svg' %}" alt="Logo" width="116" height="48"
                    class="d-inline-block align-text-top">
            </a>
            <div class="hhh">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <!-- <a class="nav-link btn btn-light px-2" aria-current="page" href="#">My Learnings</a> -->
                    </li>
            </div>
            <div class="form-group has-search  px-4">
                <span class="fa fa-search form-control-feedback form-control-feedback-custom"></span>
                <form method="POST" action="{% url 'user_app:search' %}">
                    {% csrf_token %}
                    <input type="text" class="form-control nav-form-control" placeholder="Search For classes, skills, courses..." name="searched">
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-4">
                        <a class="nav-link active" aria-current="page" href="{% url 'user_app:landing_page' %}">Home</a>
                        <!-- <button type="button btn-text" class="btn btn-light">Home</button> -->
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link t" href="{% url 'user_app:about_us' %}">About Us</a>
                        <!-- <button type="button btn-text" class="btn btn-light">About Us</button> -->
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link " href="{#% url 'user_app:contact_us' %#}">Contact Us</a>
                        <!-- <button type="button btn-text" class="btn btn-light">Contact Us</button> -->
                    </li>
                    <li class="nav-item px-3">
                        <a href="{% url 'user_app:user_login' %}" class="btn btn-outline-dark">Sign In</a>

                    </li>
                    <li class="nav-item px-3">
                        <!-- <a class="nav-link" href="#">Contact Us</a> -->
                        <a href="{% url 'user_app:userRegistration' %}" class="btn btn-outline-dark">Sign up</a>

                    </li>
                    <!-- <li class="nav-item">
                                <a class="navbar-brand" href="#">
                                    <img src="images/user_profile.png" class="rounded-circle" alt="Profile Pic"
                                        width="48" height="48">
                                </a>
                            </li> -->
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}









    <div class="container-fluid ">

        <div class="row mvr">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 box">
                <div class="row">
                    <div class="col-md-6 left_box">
                            <h5 class="txt_1">Get In Touch</h5>
                            <p><img src="{% static 'images/user//phone-call.svg' %}" class="left_box_icons"><span class="left_box_text">+91-9074678437</span></p>
                            <p><img src="{% static 'images/user//chat.svg' %}" class="left_box_icons"><span class="left_box_text">medicsacademy@gmail.com</span></p>
                            <p><img src="{% static 'images/user//Vector.svg' %}" class="left_box_icons"><span class="left_box_text">1/64 Adayar nagar meenambakkam,
                                Chennai-28</span></p>

                            <hr>

                            <div class="d-flex justify-content-around w-50 mt-5 mbw">
                                <img src="{% static 'images/user//fb.svg' %}">
                                <img src="{% static 'images/user//linkedin.svg' %}">
                                <img src="{% static 'images/user//twitter.svg' %}">
                                <img src="{% static 'images/user//instagram.svg' %}">

                            </div>


                    </div>
                    <div class="col-md-6 right_box">
                        <form action="{% url 'user_app:contact_us_message' %}" method="POST">
                            {% csrf_token %}
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label>Name :</label>
                                <div class="form-group">

                                    <img src="{% static 'images/user//icon_account.svg' %}"
                                        class="form-control-feedback form-control-feedback-custom svg_icon">
                                    
                                    <input type="text" class="form-control nav-form-control fcc" placeholder=" Name" name="name">
                                </div>
                            </div>
                           
                        </div>
        
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <label>Email :</label>
                                <div class="form-group">
                                    <img src="{% static 'images/user//icon_Email.svg' %}"
                                        class="form-control-feedback form-control-feedback-custom svg_icon">
                                    <input type="text" class="form-control nav-form-control fcc" placeholder="Email" name="email">
                                </div>
                            </div>
        
        
                        </div>
        
                     
        
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <label >Message :</label>
                                <textarea class="form-control" placeholder="Type Your Message" name="message" rows="5"></textarea>
                            </div>
        
        
                        </div>
        
        
        
                        <div class="row mt-4">
                            <div class="col-md-12">
            

                                <div class="d-grid gap-2">
                                    <button class="btn btn-white smt_btn" type="submit">Send Message</button>
                                  </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>

        
    </div>




 





<!-- 
    {% if not user.is_authenticated %}
    <footer class="bg-dark text-white text-center mt-auto  py-3 fixed-bottom mt-5 custom-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>&copy; 2023 All rights reserved. <span style="color: #3ca0ba;">Medics Academy</span></p>
    
            </div>
          </div>
        </div>
      </footer>
      {% endif %} -->
    
    




{% endblock %}













































    <!-- footer -->
