{% load static %}
<div class="container-fluid section-one">
        
    <div class="container ">

     

       
  <!-- <div class="card">
    <div class="card-body"> -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner p-5">
              <div class="carousel-item active">
                <img src="{% static 'images/user/caorosel_bg.png' %}" class="d-block w-100 card rounded-4 no-border-card" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/user/car-bg-two.png' %}" class="d-block w-100 card rounded-4 no-border-card" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/user/caorosel_bg.png' %}" class="d-block w-100 card rounded-4 no-border-card" alt="...">
              </div>

             
            </div>
            <button class="carousel-control-prev" id="carousel-control-prevs"  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon custom-control-prev rounded-circle " aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" id="carousel-control-nexts" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon custom-control-next  rounded-circle " aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <!-- <div class="d-flex carousel-btn">
               <a href="#CourseView" class="btn btn-custom-brand" id="carousel-btn"
                style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: .75rem;">
          Enroll Now
        </a> 
              </div> -->

          </div>
    <!-- </div>
  </div> -->
 




    </div>
</div>
