{% extends "admin/base_site.html" %}

{% load i18n static admin_list courses_admin_helpers courses_admin_pagination tz %}

{% block title %}
Student List
{% endblock %}


{% block stylesheet %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/student_list.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block responsivestyle %}{% endblock %}

{% block dark-mode-vars %}{% endblock %}

{% block coltype %}{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block header %}{% endblock %}
{% block skiptocontent %}{% endblock %}

{% block content_title %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block content %}

<div class="container-fluid header">
    <div class="container">
    {% include "admin/custom_nav.html" %}

        <div class="row mt-3">
            <div class="col-6">
                <form method="get" id="search_form">
                    <div class="d-flex justify-content-between bg-white rounded-3 w-75 py-1 align-items-center">
                        
                        <img src="{% static 'images/search.png' %}" class="img-fluid search-lens ms-2 " alt="...">
                        <input class="form-control me-2 search-control" name="q" type="search" placeholder="Search"
                            aria-label="Search" value="{{ cl.query }}">
                        <select name="date_value" class="form-select w-50" aria-label="Default select example" id="btn-months">
                            <option value="1" {% if month_query == '1' or month_query == None %}selected{% endif %}>All Months</option>
                            <option class="options-value" value="2" {% if month_query == '2' %}selected{% endif %}>Last Two Months</option>
                            <option class="options" value="3" {% if month_query == '3' %}selected{% endif %}>Last Month</option>
                            <option class="options" value="4" {% if month_query == '4' %}selected{% endif %}>Custom</option>
                        </select>
                        
                    </div>
                    <div id="date-picker-container" style="display: none;">
                        <input type="text" name="daterange" value="{% if month_query == '4' %}{{date_joined_query}}{% endif %}" class="calendar rounded-3 p-1 mt-1" />
                    </div>
                    <input type="submit" class="d-none">
                </form>
            </div>
            <div class="col-6">
                <div
                    class="d-flex flex-column  flex-sm-row justify-content-start justify-content-sm-end align-items-left">
                    <a href="{% url 'admin:student_list_export_as_csv' %}" class="btn btn-dark mb-2 mb-sm-0 me-sm-2">EXPORT</a>

                </div>
            </div>

        </div>

        <div class="row course-filter mt-3">
            <div class="col-12 mb-5 d-flex justify-content-between">
                <p class="h6">Students list</p>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% if request.GET.is_active__exact == '1' %}
                        Active Students
                        {% elif request.GET.is_active__exact == '0' %}
                        Inactive Students
                        {% else %}
                        All Students
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'admin:student_user_list' %}">All Students</a></li>
                        <li><a class="dropdown-item" href="{{'?is_active__exact=1'}}">Active Students</a></li>
                        <li><a class="dropdown-item" href="{{'?is_active__exact=0'}}">Inactive Students</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container table-contents">


    <!-- <div class="card card-body"> -->

    <div class="table-responsive card rounded-3 py-3 table-body">
        <table class="table p-5">
            <thead>
                <tr class="table-head">
                    <th scope="col">S.No</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Total Courses</th>
                    <th scope="col">Duartion</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date of Joining</th>
                </tr>
            </thead>
            <tbody>
                {% for user in cl.result_list %}
                <tr>
                    <th scope="row">
                        {% if request.GET.p %}
                        {% start_index cl request.GET.p forloop.counter0 %}.
                        {% elif request.GET.all == '' %}
                            {{ forloop.counter }}.
                        {% else %} 
                        {% start_index cl 1 forloop.counter0 %}.
                        {% endif %}
                    </th>
                    <td>
                        <div class="d-inline-flex"><span
                                class="badge me-2 rounded-circle text-center first-letter-bg">{{user.first_name|make_list|first}}</span>{{user.first_name}} {{user.last_name}}
                    </td>
                    <td>
                        {{user.username}}
                    </td>
                    <td>{{ user.purchasedcourse_set.count }}</td>
                    <td>{{user|purchased_courses_duration}}</td>
                    <td>
                        {% if user.purchasedcourse_set.count %}
                        {% with user|last_purchased_course_progress as progress %}
                        <div class="d-flex align-items-center justify-content-start">
                            <p class="m-0 me-2" id="progressText">{{progress}}%</p>
                            <div class="progress  flex-grow-1 " style="height: 5px;">
                                <div class="progress-bar" id="progressText" role="progressbar"
                                    aria-label="Example 1px high" style="width: {{progress}}%;" aria-valuenow="{{progress}}"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        {% endwith %}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-none d-lg-block d-flex align-items-center">
                            {% if user.is_active %}
                            <h6 class="course-active"><img src="{% static 'images/active_green.png' %}" class="img-fluid"
                                    alt="green_online"> Active</h6>
                            {% else %}
                            <h6 class="paused text-center text-danger">Inactive</h6>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {% timezone "Asia/Kolkata" %}
                        {{user.date_joined}}
                        {% endtimezone %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">No record found!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block pagination %}{% custom_pagination cl custom_data=month_query %}{% endblock %}

{% include "admin/custom_footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% if messages %}
    <script type="text/javascript">
        $(function(){
            $('.toast').toast('show');
        });
    </script>
{% endif %}
    <script type="text/javascript">
        $(function(){
            var url = "{% url 'admin:student_user_list' %}";
            $('#search_form').on('submit', function(e){
                e.preventDefault();
                var search = $('.search-control').val().trim();
                var months = $('#btn-months').val();
                if(search !=''){
                    url += '?q='+search;
                    if(months == '4'){
                        months = $('input[name="daterange"]').val().split(' - ');
                        url += '&date_joined__gte='+months[0]+'+00:00:00'+'&date_joined__lte='+months[1]+'+23:59:59';
                    }
                    else if(months == '2'){
                        months = []
                        months[0] = moment().subtract(3,'months').startOf('month').format('YYYY-MM-DD')
                        months[1] = moment().subtract(1,'months').endOf('month').format('YYYY-MM-DD')
                        url += '&date_joined__gte='+months[0]+'+00:00:00'+'&date_joined__lte='+months[1]+'+23:59:59';
                    }
                    else if(months == '3'){
                        months = []
                        months[0] = moment().subtract(2,'months').startOf('month').format('YYYY-MM-DD')
                        months[1] = moment().subtract(1,'months').endOf('month').format('YYYY-MM-DD')
                        url += '&date_joined__gte='+months[0]+'+00:00:00'+'&date_joined__lte='+months[1]+'+23:59:59';
                    }
                    url += '&month='+$('#btn-months').val();
                }
                window.location.href = url;
            });

            $('#btn-months').change(function() {
                var selectedOption = $('#btn-months option:selected').val();
                
                if (selectedOption === '4') {
                    $('#date-picker-container').show();
                } else {
                    $('#date-picker-container').hide();
                }
            });
        
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'YYYY-MM-DD'
                }
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });

        });
    </script>
    {% if month_query == '4' %}
        <script>
            $(function(){
                $('#date-picker-container').show();
            });
        </script> 
    {% endif %}
{% endblock %}