{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Medics</title>
</head>
<body style="font-family: Poppins, Arial, Helvetica, sans-serif;background-color: #F4F4F4;text-align: center;">
    <div class="container" style="max-width: 600px;margin: 50px auto;background-color: #FFFFFF;border-radius: 10px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <div class="header" style="padding: 10px 0;border-radius: 10px 10px 0 0;">
            <img src="http://example.com/{% static 'images/user/form-logo.svg' %}" alt="Medics Logo" class="logo" style="margin-top: 20px;">
        </div>
        <!-- <hr> -->
        <h2>Medics Academy,Hi</h2>
        <p class="message" style="color: #333333;font-size: 18px;margin-bottom: 20px;"><p>You're receiving this email because you requested a password reset for your user account at Medics Academy/</p></p>Username: 
        <div class="credentials" style="margin-left: auto;margin-right: auto;width: 36%;">
            <p style="font-size: 16px;margin-bottom: 10px;display: flex;align-items: center;text-align: left;"><i class="fa fa-user icon" style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 24px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin-right: 10px;width: 24px;text-align: center;"></i><span>Username:{{ name }}</p>
            <!-- <p style="font-size: 16px;margin-bottom: 10px;display: flex;align-items: center;text-align: left;"><i class="fa fa-lock icon" style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 24px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin-right: 10px;width: 24px;text-align: center;"></i><span>Password:</span> 123456</p> -->
        </div>
        <p>Please click the following link to reset your password:</p>
        {{ protocol }}://{{ domain }}{% url "user_app:password_reset_confirm" uidb64=uid token=token %}

        <p>Thanks</p>
        <p>Team Medics</p>
        <a href="#" class="button" style="display: inline-block;padding: 10px 20px;background-color: #3CA0BA;color: #FFFFFF;text-decoration: none;border-radius: 5px;font-size: 16px;transition: background-color 0.3s ease;">Click Here</a>
        <footer class="" style="background-color: black;color: white;padding: 2px;margin-top: 20px;">
            <p>© 2023 All rights reserved. <span style="color: #3CA0BA;">Medics Academy</span></p>
                  </footer>
    </div>
</body>
</html>






























