{% extends "user_base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid custom-bg">
    <div class="row">
      <!-- left-section -->
      <div class="col-md-6 left-components">
        <img src="{% static 'images/user/brand.png' %}" alt="Brand Logo" class="img-fluid" />
        <p class="text-start mt-md-4">
          "Unlock Your Potential with Medics Academy Where <br />
          Knowledge Meets Opportunity!"
        </p>
      </div>
      <!-- right-section -->
      <div class="col-md-6 mb-5 mt-5">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <div class="card rounded-4">
              <!-- Start of card content -->
              <div class="card-body p-md-5">
                  <a href="#">
                      <img src="{% static 'images/user/form-logo.svg' %}" alt="Brand Logo" class="img-fluid w-50" />
                  </a>
                  <h2 class="brand-color mt-3">Forget Password!</h2>
                  <h6 class="sub">Please fill the details to change password.</h6>
          
                  <form method="post">
                      {% csrf_token %}
                    
                      <div class="mb-3">
                          <label for="InputPassword1" class="form-label">New Password</label>
                          <input type="password" name="new_password1" class="form-control" id="id_new_password1""
                              placeholder="New Password" />
                              <span class="text-danger">{{form.errors.new_password1.0}}</span>
                      </div>
                      <div class="mb-3">
                          <label for="new_password2" class="form-label">Confirm Password</label>
                          <input type="password" name="new_password2" class="form-control" id="id_new_password2"
                              placeholder="Confirm Password"  />
                        <span class="text-danger">{{form.errors.new_password2.0}}</span>
                      </div>
          
                      <button type="submit" class="btn btn-dark w-100 mt-md-2">Reset</button>
                  </form>
              </div>
              <!-- End of card content -->
          </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock content %}




